@namespace Shopping_cart
<div class="row">
    <div class="col">
        <Filter />
    </div>
    <div class="col-md-8">
        <ProductList />
    </div>
    <div class="col">
        <Cart />
    </div>
</div>
