<div class="card shadow-sm">

 <img class="bd-placeholder-img card-img-top" width="100%"
  [src]="productItem.imageUrl"/>


  <div class="card-body">
    <p class="card-text">
      <strong>{{productItem.price |currency:'INR'}}</strong>
      <i class="far fa-heart float-md-end " *ngIf="!wishlistAdded" (click)="handleAddToWishlist()"></i>
      <i class="fas fa-heart float-md-end "  *ngIf="wishlistAdded" (click)="handleRemoveToWishlist()" ></i>
    </p>
    <p class="card-text">
      <strong>{{productItem.name}}</strong>
    </p>
    <p class="card-text">  {{productItem.description | slice: 0:50}}...</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button"
        class="btn btn-sm btn-primary product-btn"
        (click)="handleAddToCart()">Add to Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
      </div>

    </div>
  </div>
</div>
